body {
  background-color: #0b0f9c
}

.header {
  text-align: center;
}

.head { 
  color: white;
}

.title {
  color: white;
}

.container {
  padding-top: 5%;
  width: 90%;
  margin: auto;
  color: white;
  display: grid;
  grid-template-columns: 20rem 20rem 20rem 20rem 20rem;
}

.question {
  text-align: center;
  border: 2px solid black;
  padding: 20px;
}

.question:hover {
  background-color: #4c59e0;
  border-color: yellow;
}
